
<mat-card appearance="outlined">
    <mat-card-title>
        @if (chore()) {
            {{chore()?.name}}   
        }
    </mat-card-title>

</mat-card>


@if (choreExecutions()) {
    @for (choreExecution of choreExecutions(); track choreExecution.id) {

        <mat-card>
            <div>
                <span>
      {{choreExecution.executorName}}
                </span>
                <span>
                    {{choreExecution.executedAt | date:'dd.MM.yyyy HH:mm'}}
                </span>
      
            </div>
        </mat-card>
    }
}

<button mat-fab class="fab-button" (click)="executeChore()">
    <mat-icon>add</mat-icon>
</button>
