<mat-toolbar class="header-toolbar" color="primary">
  <button matIconButton class="example-icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Choremaster</span>
  <span class="spacer"></span>
  @if(authorizationService.authorizationInfo(); as authorizationInfo) {
      {{authorizationInfo.name}}
      <button matIconButton class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon (click)="logout()">logout</mat-icon>
      </button>
  }
  @else {
      <asl-google-signin-button class="mx-5"></asl-google-signin-button>
  }
  
</mat-toolbar>
