name: Frontend Tests

on:
  push:
    branches: [ main]
    paths:
      - 'choremaster-app/**'
      - '.github/workflows/frontend-tests.yml'
  pull_request:
    branches: [ main]
    paths:
      - 'choremaster-app/**'
      - '.github/workflows/frontend-tests.yml'

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [20.x]

    steps:
    - uses: actions/checkout@v4
    - name: Setup Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
        cache-dependency-path: ./choremaster-app

    - name: Install dependencies
      run: npm ci
      working-directory: ./choremaster-app
    - name: Run tests
      run: npm test -- --watch=false --browsers=ChromeHeadless
      working-directory: ./choremaster-app